.article {

    &__image {
        width: 100%;
    }

    // first articles layout
    &--transform > &__content, &--stand-out > &__content {
        padding: toRem(71) toRem(30);
    }
    &--transform > &__abstract, 
    &--stand-out > &__abstract {
        margin-top: toRem(40);
        font-size: toRem(18);
        line-height: toRem(32);
    }

    // second articles layout
    &--graphic-design, &--photography {
        position: relative;
    }
    &--graphic-design , &--graphic-design > h2{
        color: $darkDesaturatedCyan;
    }
    &--photography, &--photography > h2 {
        color: $darkBlue;
    }
    &--graphic-design > &__content, &--photography > &__content {
        position: absolute;
        bottom: toRem(60);
        left: 0;
        margin: toRem(25);
    }
    &--graphic-design > &__abstract, &--photography > &__abstract {
        margin: 0 auto;
        margin-top: toRem(36);
        font-size: toRem(16);
        line-height: toRem(28);
    }

    // Client testimonials article
    &--testimonials {
        padding: toRem(68) toRem(38) toRem(90) toRem(38);
    }
    &--testimonials > h2 {
        font-size: toRem(13);
        font-weight: $fancyBlackFontWeight;
        line-height: toRem(13);
        letter-spacing: toRem(6);
        text-transform: uppercase;
        color: $grayishBlue;
    }
    &__section--testimonial {
        margin-top: toRem(63);


        & > .section__icon {
            width: toRem(72);
            border-radius: 50%;
        }
        & > .section__message {
            margin-top: toRem(42);
        }
        & > .section__user {
            margin-top: toRem(28);
            font-size: toRem(13);
            line-height: toRem(23);

            color: $grayishBlue;
        }
        & > .section__user-role {
            margin-top: toRem(17);
            
        }
    }
}

@media only screen and (min-width: 768px) {
    .article {
        &--transform, &--stand-out {
            margin-left: toRem(50);
            padding: 0;
            max-width: toRem(440);
        }
        &--transform > &__abstract, 
        &--stand-out > &__abstract {
            margin-top: toRem(50);
            text-align: left;
        }
        
        &--graphic-design {
            background-image: url("../app/img/desktop/image-graphic-design.jpg");
        }
        &--photography {
            background-image: url("../app/img/desktop/image-photography.jpg");
        }
        &--graphic-design > &__abstract,
        &--photography > &__abstract {
            max-width: toRem(330);
        }
    }
    .article--transform > h2, 
    .article--stand-out > h2 {
        text-align: left;
    }
}