html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: toRem(18);
    font-weight: $semiBoldFontWeight;
    color: $veryDarkGrayishBlue;
}

h1, h2, h3 {
    color: $white;
    font-family: $fancyFontFamily;
}

.wrapper {grid-area: header;}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        ;
}

.a {
    color: inherit;
    text-decoration: none;

    &--header {
        margin-top: toRem(44);
    }
}

.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    &--header {
        height: toRem(57);
        min-width: toRem(140);
        margin-top: toRem(32);
        margin-bottom: toRem(39);
        border-radius: toRem(57/2);

        background: $yellow;

        text-transform: uppercase;
        font-family: $fancyFontFamily;
        font-weight: $fancyBoldFontWeight;
        font-size: toRem(12);
        color: $veryDarkDesaturatedBlue;
    }
}

@media only screen and (min-width: 768px) {
    
    .a {
        margin: 0;

        &--header {
            margin-right: toRem(28);

            color: $white;
        }
    }

    .button {
        margin: 0;
        padding: 0;
        
        &--header {
            background: $white;
        }
    }
}