html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: toRem(18);
    font-weight: $semiBoldFontWeight;
    text-align: center;
    color: $veryDarkGrayishBlue;
}

h1, h2 {
    font-family: $fancyFontFamily;
    font-size: toRem(30);
}
h1 {
    font-weight: $fancyBlackFontWeight;
    line-height: toRem(50);
    text-transform: uppercase;
    color: $white;
}
h2 {
    font-weight: $fancyBoldFontWeight;
    line-height: toRem(38);
    text-align: center;
    color: $veryDarkDesaturatedBlue;
}
.article--graphic-design > h2 {
    color: $darkDesaturatedCyan;
}
.article--photography > h2 {
    color: $darkBlue;
}

.a {
    color: inherit;
    text-decoration: none;

    &--header {
        margin-top: toRem(44);
    }
}

.button {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    font-family: $fancyFontFamily;
    font-weight: $fancyBoldFontWeight;
    text-transform: uppercase;
    color: $veryDarkDesaturatedBlue;

    &--header {
        height: toRem(57);
        min-width: toRem(140);
        margin-top: toRem(32);
        margin-bottom: toRem(39);
        border-radius: toRem(57/2);

        background: $yellow;

        font-size: toRem(12);
        
    }
    &--article {
        position: relative;
        margin-top: toRem(42);

        font-size: toRem(13);
    }
    &--article::before {
        content: "";

        position: absolute;
        bottom: -3px;
        left: -6px;
        
        width: calc(100% + #{toRem(6)}*2);
        height: toRem(10);
        border-radius: toRem(5);
        z-index: -1;

        background-color: $yellow;
        opacity: .25;
    }
    &--article-softRed::before {background: $softRed;}
}



@media only screen and (min-width: 768px) {
    h1 {
        font-size: toRem(42);
    }
    h2 {
        font-size: toRem(38);
        line-height: toRem(48);
    }
    .article--transform > h2, 
    .article--stand-out > h2 {
        text-align: left;
    }
    .a {
        margin: 0;

        &--header {
            margin-right: toRem(28);

            color: $white;
        }
    }

    .button {
        margin: 0;
        padding: 0;
        
        &--header {
            background: $white;
        }

        &--article {
            margin-top: toRem(52);

            text-align: left;
        }
    }
}