.header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: toRem(32) toRem(25);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        position: relative;
    }

    &__triangle-icon {
        position: absolute;
        top: calc(100% + #{toRem(25)});
        right: 0;
        width: 0;
        height: 0;
        border-top: toRem(1) solid transparent;
        border-left: toRem(24) solid transparent;
        border-bottom: toRem(24) solid $white;
        
        opacity: 0;
        // animation
    }
    
    &__dropdown-menu {
        position: absolute;
        top: calc(100% + #{toRem(25+24)});
        right: 0;
        width: calc(100vw - #{toRem(25)}*2);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        opacity: 0;
        background: $white;
        //animation
    }

    &__hamburger-icon:hover + &__triangle-icon,
    &__hamburger-icon:hover + &__triangle-icon + &__dropdown-menu {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        padding: toRem(32) toRem(40);

        &__logo {
            width: toRem(170);
        }

        &__hamburger-icon {
            position: absolute;
            opacity: 0;
        }

        &__dropdown-menu {
            flex-direction: row;
            justify-content: flex-end;

            position: initial;

            width: auto;
            opacity: 1;

            background: initial;
        }
    }
}